@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-[#FDFDFD] text-gray-900 overflow-hidden select-none;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent zoom on mobile */
input {
  font-size: 16px !important;
}

::selection {
  background: rgba(0, 0, 0, 0.05);
}
